/*center*/
.center-top{height:230px; background:url(../img/center_bg.png) no-repeat center center; background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;padding-top:60px;}
.center_head{width:120px; margin:0 auto 10px; position:relative; z-index:1;}
.head_bg{ position:relative; z-index:3;}
.centert_b span{padding-left:18px; background:url(../img/phone_ico.png) no-repeat left center; background-size:15px; -webkit-background-size:15px; -moz-background-size:15px;}
.center_list ul{width:105%;}
.center_list ul li{width:49%;border-right:1px solid #5e345a;border-bottom:1px solid #5e345a;}
.center_list ul li h3{ line-height:30px;}
/*index*/
.banner{position:relative;}
.banner .hd{width:100%;height:7px;position:absolute;z-index:1;bottom:10px;text-align:center;}
.banner .hd ul li{ display:inline-block; width:7px; height:7px; background:#fff;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; text-indent:999em; overflow:hidden; margin:0 5px;}
.banner .hd ul .on{ background:#7f446e;}
.banner .bd{position:relative;z-index:0;}
.banner .bd li img{width:100%;}
.banner .bd li a{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.item{height:40px; background:url(../img/item_bg.png) repeat left top; line-height:40px;}
.item label{padding-left:15px;}
.sel_btn{height:40px;width:64px; color:#9e5175; padding-left:5px; background:url(../img/select_bg.png) no-repeat 34px center #fff3cf; background-size:20px;padding-left:10px;}
.item_text{background:none; height:22px;padding:9px 0 9px 0;width:50%;padding-left:10px;}
.item_text::-webkit-input-placeholder,item_text[placeholder]{ color:#d5afa8;}
.item_text::-moz-input-placeholder{ color:#d5afa8;}
.home_btn{ display:inline-block;width:100px; height:112px; background:url(../img/btn_bg.png) no-repeat left top; line-height:110px; background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;}
.home_btn.offerd_btn{background:url(../img/btn_bg2.png) no-repeat left top;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;}
/*offer_det*/
.offerd_tit{ display:inline-block;padding:0px 20px; height:40px; line-height:40px;}
.offerd_list li{height:35px; line-height:35px;}
.offerd_bg{ background:url(../img/offerd_bg.png) repeat left top;}
/*order_det*/
.orderd_list .sel_btn{height:35px; line-height:35px;width:auto;padding:0 30px 0 10px; background:url(../img/select_bg.png) no-repeat 90% center #fff3cf;background-size:20px;max-width:90%;}
.orderd_list li{height:auto !important; line-height:22px !important;padding:5px 0;}
.orderd_dl{height:70px; overflow-y:auto;}
/*data*/
.data-bg{position:absolute;left:0;top:0;width:100%; height:120px; background:#ae587a; z-index:-1;}
.data_head,.head_img{border:5px solid #fef2cf; overflow:hidden;width:100px; height:100px; position:relative;}
.data_head img,.head_img img{ position:absolute; left:0; top:0; width:110px; height:110px;}
#city_4 .sel_btn{width:30%;background:url(../img/arrow.png) no-repeat 94% center #fff3cf; background-size:8px;margin-left:7px;padding-right:8px;padding-left:0;}
/*add_hand*/
.add_tit,.insure_tit{height:40px; border:1px solid #b85c7d; line-height:40px; position:relative;}
.add_tit ul,.insure_tit ul{ position:relative; z-index:2;}
.add_tit span,.insure_tit span{ position:absolute; left:-1px;top:0; background:#b85c7d; height:40px; z-index:1;}
.tab_div .item.on{ background:#814469;}
.tab_div .item label{padding-left:10px; width:35% !important;}
.tab_div .item_text{width:90%;}
.add_sel{ height:22px;margin:9px 0;width:100%; background:url(../img/select_bg2.png) no-repeat 90% center; background-size:22px; -webkit-background-size:22px;}
.hide{ display:none;}
.file_tex{color:#9e5175; height:40px; background:#fff3cf; text-align:center; width:28%; position:relative;}
.file_tex input{opacity:0; height:40px; position:relative; z-index:2;}
.file_tex span{color:#9e5175; position:absolute; left:30%; top:0; line-height:40px; z-index:1;}
.add{min-height:550px;}
.upfill_bottom{background:#ae587a;padding-top:30px; padding-bottom:10px; margin-top:-50px;}
.upfill_bottom p{ line-height:30px;}
.img_bg{background:#421f47;padding:10px; margin:0 auto;}
.insure_tit li,.insure_tit span{width:33%;}
.ins_r{width:20%; height:40px;}
.ins_r span{ display:inline-block; width:50px; height:18px; background:url(../img/open.png) no-repeat left top; background-size:cover; margin-top:10px; -webkit-background-size:cover;}
.insure .tab_div .item label{padding-left:10px; width:50% !important;}
.insure_list.on .ins_r span{ background:url(../img/close.png) no-repeat left top !important; background-size:cover !important; -webkit-background-size:cover !important;}
.insure_list.on .item{ background:#814469 !important;}
