/*list*/
.wd33{width:33.3%;}
.list ul{height:40px;line-height:40px;}
.list ul a{color:#bfa89f;}

.list-head{background:#944c6f;border:1px solid #b85c86;margin-bottom:20px;border-radius:25px;-webkit-border-radius:25px;}

.pB2{padding-bottom:2px;}
.pL5x{padding-left:5px;}
.mT200{margin-top:200px;}

/*myorder*/
.wd29{width:29%;}
.wd28{width:28%;}
.wd27{width:27%;}
.wd26{width:26%;}
.wd25{width:25%;}
.wd24{width:24%;}
.wd23{width:23%;}
.wd22{width:22%;}
.wd21{width:21%;}
.wd19{width:19%;}
.wd18{width:18%;}
.wd17{width:17%;}
.wd16{width:16%;}
.wd15{width:15%;}
.wd14{width:14%;}
.wd13{width:13%;}
.wd12{width:12%;}
.wd11{width:11%;}

/*lotteryn*/
.lotteryn-list ul li{height35px;line-height:35px;}
.lot{height:32px;line-height:32px;text-align:right;}
.lotteryn_show li a{padding:5px;border-radius:10px;-webkit-border-radius:10px;color:#fff;}
.bg6cf{background:#6cf}
.cf7f69d{color:#f7f69d;}
