<div class="pdV5 pdH15 white">两队交战<i class="fr icon" ng-init="show_record=true;" ng-click="show_record=!show_record" ng-class="{'icon-toup': show_record, 'icon-todown': !show_record}"></i></div>
<section id="twohistory" ng-show="show_record">
    <p class="small pdV5 pdL15">近10场战绩，仙台维加泰<i style="color:#e23600;">2胜</i><i style="color:#0884f7">3平</i><i style="color:#2d912a">5负</i>，进5球，失10球</p>
    <table>
        <thead>
            <tr>
                <th><select name="" id=""><option value="">全部赛事</option><option value="">相同赛事</option></select></th> <th>日期</th> <th colspan="3">对阵</th> <th>盘路</th>
            </tr>
        </thead>
        <tbody class="x12">
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            
        </tbody>
    </table>
</section>
<div class="pdV5 pdH15 white">近期战况<i class="fr icon" ng-init="show_recent=true;" ng-click="show_recent=!show_recent" ng-class="{'icon-toup': show_recent, 'icon-todown': !show_recent}"></i></div>
<section id="recenthistory" ng-show="show_recent">
    <p class="small pdV5 pdL15">近10场战绩，仙台维加泰<i style="color:#e23600;">2胜</i><i style="color:#0884f7">3平</i><i style="color:#2d912a">5负</i>，进5球，失10球</p>
    <table>
        <thead>
            <tr>
                <th><select name="" id=""><option value="">全部赛事</option><option value="">相同赛事</option></select></th> <th>日期</th> <th colspan="3">对阵</th> <th>盘路</th>
            </tr>
        </thead>
        <tbody class="x12">
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            <tr>
                <td>德乙</td> <td>2015-07-25</td> <td>仙台维加泰</td> <td>0：0</td> <td>鹿岛鹿角</td> <td>赢</td>
            </tr>
            
        </tbody>
    </table>
</section>