    <div class="pheader"><div class="ptitle center x16 bold white-text">竞彩投注风险须知</div></div>
    <div class="pbody white font14" style="color:#bfbfbf;">
      <p style="text-indent:2em;">本协议系甲、乙双方自愿签订，甲方愿意将自己购买于 年 月 日的 色 电动车 转让给乙方，乙方愿意购买并接管上述产品并达成以下协议，本协议自签订之日起执行。</p>
      <p>1、甲方愿意以 元的价格出售自己私有的电动车，出售后不得随意以任何理由提高或者更改价格；</p>
      <p>2、甲方将电动车一经转让给乙方后，不再为此车辆承任何责任；同时，不再对该车辆享有任何权利；</p>
      <p>3、乙方愿意接受上述价格，并且在交接车辆当日检查无误后接管该电动车，不得以其他任何理由调价或者退还车辆；</p>
      <p>4、乙方一经接管该车辆后，应该对自身安全及车辆安全负全部责任，比如：车辆及零部件的损坏、车辆被盗或者交通事故等。</p>
      <p>5、甲、乙双方除了交接车辆以外，甲方应该将当初购车时的原始票据、车辆三包凭证、使用说明书、行驶证等相关证件全部交接给乙方。</p>
      <p>6、以上协议达成共识，一式两份，甲、乙双方各执一份。如有任何不尽之处，有甲、乙双方协商解决。</p>
    </div>
    <div class="pfooter white"><a class="btn-red btn-center" href="" ng-click="popup.showFengxian=false" id="btnFenxian">确定</a></div>