<table>
    <thead class="white">
        <tr>
            <th colspan="2">公司</th><th>胜赔</th><th>平赔</th><th>负赔</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">威廉希尔</td><td>初盘</td><td>1.61</td><td>3.8</td><td>5</td>
        </tr>
        <tr>
            <td>即时盘</td><td>1.61</td><td>3.8</td><td>5</td>
        </tr>
        <tr>
            <td rowspan="2">威廉希尔</td><td>初盘</td><td>1.61<i class="red-text bold pdL5">↑</i></td><td>3.8</td><td>5</td>
        </tr>
        <tr>
            <td>即时盘</td><td>1.61<i class="red-text bold pdL5">↓</></td><td>3.8</td><td>5</td>
        </tr>
                <tr>
            <td rowspan="2">威廉希尔</td><td>初盘</td><td>1.61</td><td>3.8</td><td>5</td>
        </tr>
        <tr>
            <td>即时盘</td><td>1.61</td><td>3.8</td><td>5</td>
        </tr>
                <tr>
            <td rowspan="2">威廉希尔</td><td>初盘</td><td>1.61</td><td>3.8</td><td>5</td>
        </tr>
        <tr>
            <td>即时盘</td><td>1.61</td><td>3.8</td><td>5</td>
        </tr>
    </tbody>
</table>