
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473234913'); /* IE9*/
  src: url('iconfont.eot?t=1473234913#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473234913') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473234913') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473234913#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-location:before { content: "\e60e"; }
.icon-ask:before { content: "\e601"; }
.icon-up:before { content: "\e614"; }
.icon-down:before { content: "\e615"; }
.icon-triangle:before { content: "\e60f"; }
.icon-checked:before { content: "\e607"; }
.icon-back:before { content: "\e60b"; }
.icon-football:before { content: "\e617"; }
.icon-down1:before { content: "\e603"; }
.icon-up1:before { content: "\e604"; }
.icon-plus:before { content: "\e605"; }
.icon-account:before { content: "\e610"; }
.icon-times:before { content: "\e608"; }
.icon-empty:before { content: "\e60a"; }
.icon-delete:before { content: "\e602"; }
.icon-more:before { content: "\e618"; }
.icon-filter:before { content: "\e616"; }
.icon-time:before { content: "\e613"; }
.icon-unie612:before { content: "\e606"; }
.icon-shaizi:before { content: "\e600"; }
.icon-qushi:before { content: "\e60d"; }
.icon-ok:before { content: "\e60c"; }
.icon-news:before { content: "\e611"; }
.icon-icon:before { content: "\e609"; }
.icon-quan:before { content: "\e612"; }
